@media only screen and (min-width: 768px) {
    .play {
        margin-left: 48px;
        max-width: 31rem;
    }
}

@media only screen and (min-width: 1100px) {
    .sec-home {
        padding: 0 192px;
    }

    .logo-geobies {
        display: block;
    }

    .menu {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .header-container nav {
        display: flex;
    }

    .logo-geobies {
        margin: 0;
    }

    .header-list-items {
        color: #fff;
    }
}
