@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.sec-home {
    background-image: url('../img/bg-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 64px;
}

.sec-home-container {
    height: 100vh;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 0;
}

.header-container nav {
    display: none;
}

.menu-burger {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}


.logo-geobies {
    justify-self: center;
    cursor: pointer;
    -webkit-user-drag: none;
    margin: 15px 0;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list-items {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 20px;
    cursor: pointer;
    transition: .2s;
    align-self: center;
    border-radius: 1px;
    color: #FF298D;
    font-weight: 600;
}

.header-list-items:hover {
    color: #fff;
    background: #FF298D;
}

.header-list-items:last-child {
    border: none;
    padding: 0;
}

.header-list-items:last-child:hover {
    background: none;
}

.standard-button {
    font-weight: 500;
    padding: 15px 35px;
    border-radius: 50px;
    background-color: #FF298D;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    transition: .3s;
    font-size: 0.9rem;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.standard-button:hover {
    background-color: #fff;
    color: #FF298D;
    transform: scale(1.05);
}

.standard-button:focus {
    outline: none;
}

/* Home */
.play {
    color: #fff;
    position: relative;
    top: 180px;
}

.play h1 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.play p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.5px;
    text-align: justify;
}

.play p:last-of-type {
    margin-bottom: 35px;
}

.container-play-button {
    background: rgba(255, 255, 255, 0.3);
    padding: 25px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    transition: .3s;
}

.container-play-button:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.5);
}

.play-button {
    width: 15px;
    user-select: none;
    -webkit-user-drag: none;
}
